<style>

body{
     background-color: #1C2026;
     color: white;
}

h1{
    color: aliceblue;
    text-align: center;
    margin: 3rem;
    
}
h2{
    text-align: center;
}

ul{
    padding: 10px;
}

li{
    border: 2px solid #707070;
    list-style: none;
    border-radius: 5px;
    height: auto;
    margin: 3px;
    padding: 10px;
}
main{
    color: aliceblue;
    background: #1b1b1bec; 
    border-radius: 10px;
    height: 500px;
    overflow: auto;
    width: 70%;
    margin: auto;
    
}
a{
    border-radius: 5px;
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    padding: 1.02rem;
   
}


</style>

<body>

<h1>Resultado</h1>
<h2>Voltar para o relatorio <a href="/pagamento">geral</a></h2>
<main>

{{#if users.length}}
  <ul>
    <li>

    {{#each users}}
    <h2>Cliente: {{dataValues.nome}}</h2>
    <p>Valor: R$ {{dataValues.valor}}</p>
    <p>Data: {{#FormatDate dataValues.createdAt}}{{/FormatDate}}</p>
    {{/each}}
    </li>
  </ul>
{{else}}

{{/if}}
</main>
</body>

{{!-- <ul> 
     {{#each PGTO}}
    <li>
        <h2>Cliente: {{dataValues.nome}}</h2>
        <p>Valor: {{dataValues.valor}}</p>
        <p>data: {{#FormatDate dataValues.createdAt}}{{/FormatDate}}</p>
        <p>ID: {{dataValues.id}}</p>
        <a href="/del-pagamento/{{dataValues.id}}"><button id="dell">Apagar</button></a>
    </li>
    {{/each}}
</ul> --}}
